/* General Styles */
html, body {height: 100%;}
body {color:black; font-family: "Oswald", sans-serif; font-size: 1.17em; font-weight: 200;}
h1, h2, h3 {font-weight: 400; text-transform: uppercase;}
h1 {font-size: 3.5em;}
h2 {font-size:2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.2em; font-weight: 400;}
p {widows:2; orphans: 2;}
a {color:#790025;}
a:hover {color:#828C92;}
a:active {color:#828C92; border-bottom: medium; border-bottom-color: #828C92;}

#landing {
  min-height: 100vh;
  color: black;
  background: 
	  linear-gradient(rgba(250,250,250,0.4),rgba(250, 250, 250, 0.25)),
	  url(../img/orionbfh_andreo_1089.jpg);
	background-position: top center;
	background-size: cover;
  }
