@charset "utf-8";
/* CSS Document */

html {
	background-image:url(../assets/small-women-collaborating.jpg);
	background-size:cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

/* Typography */
/*
body 
{font-family: 'EB Garamond', serif;}

h1,h2,h3,h4,h5 {font-family: 'Cabin', sans-serif;}
*/
nav {background-color:#fff; padding-top: 5px; padding-bottom: 5px;}
nav button {background: transparent; border: none;}
nav .navbar-header img {height: 2.5em; }

body 
{font-family: 'Dosis', sans-serif;
font-size: 16px;
background-color: transparent;}

h1,h2,h3,h4,h5 {font-family: 'Oswald', sans-serif;}
h1, h2 {text-transform: uppercase; font-size: 2.5em;}


/* Mobile and Default Styles*/


.parent-centered-div {
	position: relative;
}

.child-centered-div {
	position: absolute;
 	top: 50%;
  	left: 50%;
	width:100%;
  	transform: translate(-50%, -50%);
}

#landing {
	padding: 50px;
	width: 100%;
	height:100vh;
	min-width: 100%;
	background-image:url(../assets/small-women-collaborating.jpg);
	background-size:cover;
	background-attachment: fixed;
}

#marketing {
	width: 100%;
	min-height: 300px;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.marketing-text {max-width: 400px;}
.marketing-img {height: 10em;}
.marketing-arrow {height:2em;}

#subscribe-mini {
	width:100%;
	height: 250px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100;Yellow+3D+%232 */
background: rgb(255,214,94); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
}

#who {
	width:100%;
	background-color: #fff;
	opacity: .9;
	padding-top: 20px;
	padding-bottom: 20px;
}

#who .team-member {
	padding-top: 10px;
	min-height: 250px;
}

#who img {
	height: 8em;
	width: auto;
}

#who .role-description {
	
}

#who h4 {
	text-transform: uppercase;
	margin-bottom: 0;
}

#opportunities {
	background-color:hsla(0,0%,27%,0.81);
	padding-top: 20px;
	padding-bottom:20px;
	color: white;
}

#subscribe {
	padding-top:20px;
	padding-bottom:20px;
	background-color: teal;
	opacity: 0.9;
	color:white;
	width:100%;
}

/* Tablet Specific Styles */
@media only screen and (min-width: 600px) {
	
}

/* Desktop Specific Styles*/
@media only screen and (min-width: 768px) {
	
}