@charset "utf-8";
/* CSS Document */

html, body {overflow-x: hidden;}

#wrapper {
	min-height:100%;
	position:relative;
}

.navbar {font-size:1.2em; font-family: "Oswald"; text-transform: uppercase;}
.navbar-default {background-image: none; background-repeat: no-repeat; border:none; /*background:
linear-gradient(
	 rgba(215, 218, 217, 0.25),
	 rgba(215, 218, 217, 0.25)
 );*/ background: hsla(0,0%,100%,00);}
.navbar-header img {height: 3em;}
.navbar-header .heading-item {font-size:1.5em; font-family: "Oswald"; text-transform: uppercase;}
.social {line-height: 2.5em;}
.social img {height: 1.75em;}
.navbar .nav li a {color:teal; 	text-shadow: 0px 0px -1px white;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {color:hsla(20,81%,46%,1.00); text-shadow: 0px 0px -1px white; background-color: transparent; background-image: none; border-bottom: 10px }
.navbar-right li {display: inline-block;}

a {color:hsla(20,81%,46%,1);}

body
{font-family: 'PT Serif', serif; font-size: 1.35em;
background-image:url(../assets/shutterstock_416205871.jpg);
background-size: cover;
background-attachment: fixed;
}

h1,h2,h3,h4,h5 {font-family: 'Oswald', sans-serif;}
h1, h2, h3 {text-transform: uppercase;}
h1 {font-size:2.5em;}
h2 {font-size:2em; color:hsla(0,7%,5%,1.00);}
h3 {font-size:1.75em; color:dimgray;}


button {text-transform: uppercase; font-size: 2em; font-family: 'Oswald', sans-serif;}

.navbar button {font-size: .85em; border: none; color:teal;}

.btn {border-radius: 0; border-width: 2px; background-image:none; border: 3px solid transparent; cursor: pointer;}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: black;
  border-color: black;
	text-transform: uppercase;
	font-family: "Oswald", sans serif;
	background-color: hsla(0,3%,89%,0.25);
	font-size: 1.35em;
}

.oswald {font-family: Oswald, sans-serif;}
.dosis {font-family: "PT Serif", serif;}
.focus-large {font-size:1.75em; text-transform: uppercase;}
.focus {font-size:1.2em; font-weight: 100; padding-top:5px; padding-bottom: 10px; color:orangered; font-family: "PT Serif", serif; }
.transparent-font {color:transparent;}

.text-wrapper {
	font-size: 2em;
	display: flex;
	text-shadow: 0px 0px 5px gray;
	color:ghostwhite;
}

/* Mobile and Default Styles*/

.brand-image {
	margin: 5px 0 -20px 10px; /* play with these to position the image */
	position:absolute;
	z-index:100;}

section {z-index: 2; position: relative;}
#why, #wearestar, #team, #opportunities, #referrals {padding-top:35px; padding-bottom:50px;}


#landing {
	padding: 50px;
	width: 100%;
	height:100vh;
	background:
	linear-gradient(
		 rgba(215, 218, 217,0.75),
		 rgba(248, 130, 11, 0.55)
	 ),
	 /* bottom, image */
	 url(../assets/shutterstock_416205871.jpg);
	background-size:cover;
	background-attachment: fixed;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	flex:1 auto;}

#landing .landing-flex {
	flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-mos-flex-grow: 1;
	-ms-flex-grow: 1;
	align-self: center;
}

#why {
	background: white;
	width: 100%;
}


#why a {color:black; text-align: center; cursor: pointer; text-decoration: none;}
#why a:hover {color:teal;}
#why .marketing-img {height: 4.15em; width: auto !important; display: inline-block;}
#why .marketing-teaser {display: block; position: relative;}
#why .marketing-teaser .active {z-index: 1; border-bottom: solid 5px white;}
#why .marketing-teaser i {position:absolute; bottom:0; left:0;}

#subscribe-mini {
	width:100%;
	min-height: 250px;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background:
	linear-gradient(
		 rgba(215, 218, 217,0.75),
		 rgba(248, 130, 11, 0.55)
	 ),
	 url(../assets/3-donuts.jpg);
	background-size:cover;
	background-attachment: fixed;
	background-position: center center;
	font-weight: 600;
	font-size: 1.2em;
}

section {padding-top: 50px; padding-bottom: 50px;}
/*
#who {
	width:100%;
	background-color: #F1F1F1;
}
*/
#inthenews {background-color:#f1f1f1;}
#inthenews .btn {margin:15px;}

#who {background: linear-gradient(
		 rgba(215, 218, 217,0.75),
		 rgba(248, 130, 11, 0.55)
	 ),
	 url(../assets/7.jpg);
 background-position: center center; background-size: cover; background-attachment: fixed;}

#wearestar {min-height: 300px; background:#f1f1f1;}

#values ul li {padding: 7px 0;}
#values ul li .oswald {font-size:1.1em;}
#values .team-member {
	padding-top: 10px;
	min-height: 300px;
}


#team {background-color: /*hsla(0,3%,89%,0.85)*/ #f1f1f1;}

#opportunities {
	background-color:#fff;
}

#referrals {
	background: #f1f1f1;
}

#subscribe {
	
	background: teal; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(teal, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(teal, green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(teal, green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(40deg,#000,teal,#000); /* Standard syntax */
	background-size:cover;
	background-attachment: fixed;
	width:100%;
	color:white;
	background-position:top top;
	font-weight: 300;
	font-size: 1.25em;
	min-height: 300px;
}

#subscribe h2 {color:white;}
#subscribe .btn-primary {border-color: white; color:white;}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0;
	z-index: -1;
	width:100vw;
	width:100%;
	background:hsla(190,100%,10%,1.00);
	color: #f1f1f1;
}

footer h1, footer h2 {color:teal; display:inline-block;}


.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

@media only screen and (max-width: 768px) {
	.navbar {border-color: transparent !important;}
}

@media only screen and (min-width: 576px) {
.focus-large {font-size:3.4em; text-transform: uppercase;}
.text-wrapper {font-size: 2.1em;}
#marketing .marketing-img {height: 6em;}
}

/* Desktop Specific Styles*/
@media only screen and (min-width: 768px) {

.focus-large {font-size:6em; text-transform: uppercase;}
.text-wrapper {font-size: 3em;}
#marketing .marketing-img {height: 6.5em;}

}


@media only screen and (min-width: 992px) {

.focus-large {font-size:7em; text-transform: uppercase;}
.text-wrapper {font-size: 4em;}
	#marketing .marketing-img {height: 6.5em;}

}
