<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GSGTP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>

    <nav class="nav navbar-nav navbar-light bg-light navbar-expand-lg p-2">
            <a class="navbar-brand" href="#">Gopher State Test Site</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto my-2 my-lg-0">
                            <li class="nav-item active">
                              <a class="nav-link" href="index.html">Schedule <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ">
                                    <a class="nav-link" href="vehicleClasses.html">Pulls </a>
                                  </li>
                                  <li class="nav-item">
                                        <a class="nav-link" href="members.html">Members</a>
                                      </li> 
            </div>
    </nav>
    <div id="root" class="container">
        <!-- start container -->
        <div class="row">
            <div class="card mt-5 col-12">

                <div class="card-body">
                    <h5 class="card-title">Add event</h5>
                    <h6 class="card-subtitle text-muted">Use this form to add an event. You can change or delete it later.</h6>
                    <form id="createEvent" class="form-inline mt-2" v-on:submit.prevent="addEvent">
                        <input type="date" class="form-control mb-2 mr-sm-2" placeholder="Date" v-model="newEvent.date">
                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Time" v-model="newEvent.time">
                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Description" v-model="newEvent.description">
                        <select v-model="newEvent.track" class="form-control mb-2 mr-sm-2">
                            <option value="Dirt">Dirt</option>
                            <option value="Tar">Tar</option>
                        </select>
                        <input type="text" v-model="newEvent.address" placeholder="Event Address" class="form-control mb-2 mr-sm-2">
                        <input type="text" v-model="newEvent.city" placeholder="Event City" class="form-control mb-2 mr-sm-2">
                        <input type="text" v-model="newEvent.state" placeholder="Event State" class="form-control mb-2 mr-sm-2">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" id="checkbox" v-model="newEvent.points" class="form-control mb-2 mr-sm-2">
                            <label for="checkbox" class="form-check-label mb-2 mr-sm-2">Points?</label>

                        </div>
                        <input type="submit" value="Add Event" class="btn btn-primary">

                    </form>
                </div>
            </div>
            <!-- end of add event form -->
        </div>   <!-- end row for event form -->
        <h3 class="col-12 mt-5">Manage events</h3>
    <div v-for="schedule in schedules" class="card mt-2"><!--begin event list-->
        <form class="form card-body form-inline " v-on:submit.prevent="">
            <input type="date" v-model="schedule.date" class="form-control"> 
            <input type="text" v-model="schedule.time" class="form-control">
            <input type="text" v-model="schedule.description" class="form-control">
            <select v-model="schedule.track" class="form-control mb-2 mr-sm-2">
                    <option value="Dirt">Dirt</option>
                    <option value="Tar">Tar</option>
                </select>
            <input type="submit" value="Edit" class="btn btn-success">
            <button @click.prevent="deleteEvent(schedule)" class="btn btn-warning">Delete</button>
        </form>
    </div>
   
    </div>
        


    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCK3lJyrQ5qzYcqQorRlPkcoCGh38wdMW8",
            authDomain: "gsgtp-b4448.firebaseapp.com",
            databaseURL: "https://gsgtp-b4448.firebaseio.com",
            projectId: "gsgtp-b4448",
            storageBucket: "gsgtp-b4448.appspot.com",
            messagingSenderId: "553297979168"
        };
        firebase.initializeApp(config);


    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script src="app.js"></script>
</body>

</html>