<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GSGTP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">Schedule</li>
            <li class="nav-item">Members</li>
            <li class="nav-item">Vehicles</li>
        </ul>
    </div>
        <div id="root" class="container-fluid">
        <h5 class="col-12">Members</h5>

        <div class="row">
            <div class="col-md-6">
                <form id="form_members" v-on:submit.prevent="addMember">
                    <input type="text" placeholder="First Name" class="form-control" v-model="newMember.firstName"> 
                    <input type="text" placeholder="Last Name" class="form-control" v-model="newMember.lastName">
                    <input type="text" placeholder="Address" class="form-control" v-model="newMember.address">
                    <input type="text" placeholder="City" class="form-control" v-model="newMember.city">
                    <input type="text" placeholder="State" class="form-control" v-model="newMember.state">
                    <input type="text" placeholder="Zip" class="form-control" v-model="newMember.zip">
                    <input type="tel" placeholder="Phone Number" class="form-control" v-model="newMember.phone">
                    <input type="email" placeholder="Email Address" class="form-control" v-model="newMember.email">
                    <input type="date" placeholder="Last Renewal" class="form-control" v-model="newMember.lastRenewal">
                    <input type="submit" class="btn-primary" value="Add member">
                </form>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr v-for="member in members">
                        <td>{{member.firstName}}</td>
                        <td>{{member.lastName}}</td>
                        <td>{{member.address}}</td>
                        <td>{{member.city}}</td>
                        <td>{{member.state}}</td>
                        <td>{{member.zip}}</td>
                        <td>{{member.phone}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.lastRenewal}}</td>
                        <td><button @click="deleteMember">Delete</button></td>
                    </tr>
                </table>
            </div>
        </div><!--End Members-->
        <h5 class="col-12">Check In</h5>
        <div class="row"></div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCK3lJyrQ5qzYcqQorRlPkcoCGh38wdMW8",
    authDomain: "gsgtp-b4448.firebaseapp.com",
    databaseURL: "https://gsgtp-b4448.firebaseio.com",
    projectId: "gsgtp-b4448",
    storageBucket: "gsgtp-b4448.appspot.com",
    messagingSenderId: "553297979168"
  };
  firebase.initializeApp(config);


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
        <script>
        var db = firebase.database();
        var scheduleRef = db.ref('schedule');
        var memberRef = db.ref('members');
        var vm=
        new Vue({
            el:'#root',
            firebase: {
                    schedules: scheduleRef,
                    scheduleObj: {
                    source:db.ref('schedule'),
                    asObject:true},
                    members: memberRef             
                },  
            data: {
                newEvent: 
                    {
                        name:'',
                        date:'',
                        address:'',
                        city:'',
                        state:'',
                        description:'',
                        points:'',
                        track:'',
                        time:''
                    },
                
                schedule: scheduleRef,
                member: memberRef,
                newMember: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city:'',
                    state:'',
                    zip:'',
                    phone:'',
                    email:'',
                    lastRenewal:'',
                }             
            },
            methods: {
                /* Events */
                addEvent: function() {
                    scheduleRef.push(this.newEvent),
                    console.log(this.newEvent),
                    this.newEvent.name=''
                    this.newEvent.date=''
                    this.newEvent.description=''
                    this.newEvent.address='',
                    this.newEvent.city='',
                    this.newEvent.state='',
                    this.newEvent.points='',
                    this.newEvent.track='',
                    this.newEvent.time=''                    
                },
                deleteEvent: function(schedule) {
                    scheduleRef.child(schedule['.key']).remove()
                },
                updateEvent: function(schedule) {
                    scheduleRef.child(schedule['.key']).set();
                },
                
                /*Members */
                addMember: function() {
                memberRef.push(this.newMember),
                    console.log(this.newMember),
                    this.newMember.name='',
                    this.newMember
                },
                deleteMember: function(member) {
                    memberRef.child(member['.key']).remove()
                },

            },
            computed: {
                futureEvents() {
                    return this.schedules.filter(schedule => moment().isSameOrAfter(scheduleRef.key.date) )
                },
                pastEvents() {
                    return this.schedules.filter(schedule => moment().isSameOrBefore(scheduleRef.key.date) )
                }
            }
        })
        </script>
    </body>
</html>