    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs"><img src="assets/gsgtp-01.png" height="50px;"></span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="logo btn" onClick="location.href='http://dcrez.github.io';"><a href="index.html"></a></li>
	        <li><a href="index.html#schd">Schedule</a></li>
    	    <li><a href="index.html#stnd">Standings</a></li>
            <li><a href="gallery.html">Gallery</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rules <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a href="rules.html#eligibility">Eligibility</a></li>
				<li><a href="rules.html#general">General Rules</a></li>
            <li><a href="rules.html#classes">Classes</a></li>
            <li class="divider"></li>
            <li><a href="rules.html#procedures">Event Procedures</a></li>
            <li><a href="rules.html#operations">Contest Operations</a></li>
            <li class="divider"></li>
            <li><a href="rules.html#disqualification">Causes for Disqualification (DQ)</a></li>
            <li><a href="rules.html#penalties">Penalties</a></li>
            <li><a href="#rules.html#protests">Protests</a></li>
              </ul>
            </li>
           	<li><a href="about.html">About Us</a></li>
       		<li><a data-toggle="modal" data-target="#contactModal">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  
  
<!-- Contact Us Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Contact Us</h4>
      </div>
      <div class="modal-body">
      <p>If you've got a question that you'd like to ask a person directly, please call Jess.  If she's not able to answer your question, she'll be able to put you in touch with someone who can.</p>
      <form role="form" action="mailto:danielle.creswick@gmail.com" method="post">
		<div class="form-group"><input type="text" class="form-control" placeholder="Your Name" id="name"></div>
        <div class="form-group"><input type="email" class="form-control" placeholder="Your Email Address" id="email"></div>
        <div class="form-group"><input type="tel" class="form-control" placeholder="Your Telephone Number" id="telephone"></div>
        <div><textarea class="form-control" placeholder="Your Question" id="question"></textarea></div>
        <br>
		<button type="submit" class="btn btn-primary">Submit</button>
      </form>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->