<!--<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">-->
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <a class="navbar-brand" href="index.html"><img src="assets/gsgtp-logo.png" height="100px;"></a>
        
        
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
	        <li class="schedule"><a href="index.html#schd">Schedule</a></li>
    	    <li class="standings"><a href="index.html#stnd" data-toggle="tooltip" data-content="Check back once the season is under way to see town and class standings." data-placement="right">Standings</a></li>
            <li class="gallery"><a href="https://www.facebook.com/gsgtp/photos_stream?tab=photos_albums">Gallery</a></li>
		</ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="rules"><a href="rules.html">Rules</a></li>
           	<li class="about"><a href="about.html">About Us</a></li>
       		<li class="contact"><a data-toggle="modal" data-target="#contactModal">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>
    
	  
  
<!-- Contact Us Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">Contact Us</h3>
      </div>
      <div class="modal-body">
      <p>If you've got a question that you'd like to ask a person directly, please call Jess.  If she's not able to answer your question, she'll be able to put you in touch with someone who can.</p>
      <h3>Board Members</h3>
      <table class="table table-striped table-condensed table-responsive"> 
<thead>
<tr>
<th><b>Name</b></th>
<th><b>Role</b></th>
<th><b>Phone Number</b></th>
<th><b>Contact about…</b></th>
</tr>

</thead>
<tbody>

<tr>
<td>Rick Jensen</td>
<td>President</td>
<td><a href="tel:651-248-4275">651-248-4275</a></td>
<td>Sled and all classes</td>
</tr>

<tr>
<td>Cory Loidolt</td>
<td>Vice President</td>
<td><a href="tel:320-630-7716">320-630-7716</a></td>
<td> Super mods and open unlimited</td>
</tr>

<tr>
<td>Matt Larsen</td>
<td>Treasurer</td>
<td><a href="tel:952-212-9361">952-212-9361</a></td>
<td>Super Modified </td>
</tr>

<tr>
<td>Jessica Thron</td>
<td>Secretary</td>
<td><a href="tel:763-232-3504">763-232-3504</a></td>
<td>Club business, scheduling, contracts, etc.</td>
</tr>

<tr>
<td>Dutch Spinner</td>
<td> </td>
<td><a href="tel:715-760-1100">715-760-1100</a></td>
<td>Off the lawn and stock </td>
</tr>

<tr>
<td>Jeff Thron</td>
<td> </td>
<td><a href="tel:651-226-7508">651-226-7508</a></td>
<td>Mini-Rods </td>
</tr>

<tr>
<td>Andy Peterson</td>
<td> </td>
<td><a href="tel:952-467-3134">952-467-3134</a></td>
<td>Super Mods and Sportsman Modified</td>
</tr>

<tr>
<td>Andy Purfeerst</td>
<td> </td>
<td><a href="tel:715-307-8320">715-307-8320</a></td>
<td>Sports Stock and Off the Lawn</td>
</tr>

<tr>
<td>Duane VanHeukelom</td>
<td> </td>
<td><a href="tel:715-425-1419">715-425-1419</a></td>
<td>Diesel and Stock Altered </td>
</tr>

</tbody>
</table>      
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>