.navbar-brand {
	position: absolute;
	margin:auto;
    top: 0;
	left:50%;
	margin-left:-50px !important;
    padding:0;}

.welcome {margin-bottom:30px; margin-top:30px;}

.btn {text-transform:uppercase; font-family: Oswald;}
.label {font-family: Oswald;}

.glyphing {color:#b5b7b9; font-size:2.5em; display: block; margin-left: auto; margin-right:auto; text-align: center;}


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-top:-60px;
  clear:both; 
}

table {
	font-size: .9em;
}

.thumbnail {
	background-color: #fff;
	color:#000;
	display: flex;
	display: -webkit-flex;
	height: 200px;
}

.thumbnail .flex-item {
	height:50px;
	background-color: beige;
}