ErrorDocument 404     /404.html
ErrorDocument 500     /500.html


AuthType Basic
AuthName "Password Required"
AuthUserFile "/web/gsgtp.com/forms/.htpasswd"
Require "admin"
Order deny, allow
Deny from all
